::placeholder {color: #808080 !important;}
.excRYK, .fHNSVG, .fuPdzB, .bKYQMh {background-color: #45454555 !important;}
.dTXRgE, .isdbPC {filter: drop-shadow(0 20px 45px #454545) !important;}
.XUYyp, .kdJtqe, .gaJXbo, .OWBJv, .eEnCHa, .dnQEJE, .fotEdo, .zlKSN, .dUeyvZ, .fNvuaM, .fpnotu {background: #353535 !important;}
.cvxJuX, .eHJKOe, .chsNKn {background: #252525 !important;}
.ioKbBQ, .jHhqEK {background: #303030 !important;}
.Nwryl {background: #232323 !important; box-shadow: 0 0 35px #ffffff0f !important; border: 2px solid #292929 !important;}
.gZAJll, .fFWrre, .eqtiIV, .RdzIK, footer, .gCIUcU, .neuxE::before, .eFeOua, .eFeOua::before {background: #202020 !important;}
.dPtiMX, .eYaMuq, .kfvTTa, .eqCOeE, .fomrzG {background-color: #202020 !important;}
.fomrzG:hover {background-color: #191919 !important;}
.fXlkFt, .eNtOgC, .iIOIxK, .hPrQcj, .oeWtg, .bJynPQ, * .fXPMCu [class^='sc'] *, * .byPnBM [class^='sc'] *, .GlobalStyle-html, .GlobalStyle-body, .gUYXmi, .lojvzz, .kSDoUH, .eIIRBY, .bdYOnS, .dkOMUO, .cOwbKL, .haPmYN, .eYKuRL {background: #191919 !important;}
.azNIl, .jWVbTs, .cHNNHl, .fyZcAQ {background-color: #191919 !important;}
.blwpwv, .frcSIa {background-color: #191919 !important; box-shadow: 0 0 3px #191919 !important;}
.neuxE {border-bottom: #191919 !important;}
.hqwwqo, .fmsxeI, .cFCXW > div:nth-child(3) > div {background: #191919 !important; box-shadow: rgb(0 0 0 / 50%)  0px 0px 0.375em 0px !important}
.modal.hover {background-color: #15151587 !important;}
.WcQhB {background-color: #101010 !important;}
.WcQhB:hover {background: #252525 !important;}
.hhstLS {background: #191919 !important;}
.oqOwV {background: none #202020 !important;}
.cRvcMw, .kIzFMH {background: #101010 !important;}
.cZQdYo > div > div:hover > img {filter: drop-shadow(0 0 20px #fff) !important;}
.cZQdYo > div > div > img {transition: .5s !important;}
.ioLhrE {background-color: #e0a500 !important;}
.epgQHW {background-color: rgba(78, 80, 95, 0.15) !important;}
.HITEl *, .hInGea * {backdrop-filter: saturate(15%);}
.iNPFbI {background-color: #353535 !important;}
.neuxE {border-bottom: 0.2em solid #303030 !important;}  /* main border bottom nav */
footer {border-top: 0.2em solid #303030 !important;} /* main border top footer */
