::placeholder {color: #808080 !important;}
.cvxJuX, .eHJKOe, .fXlkFt, .eNtOgC, .iIOIxK, .jHhqEK, .hPrQcj, .oeWtg, .bJynPQ, .zlKSN, * .fXPMCu [class^='sc'] *, * .byPnBM [class^='sc'] *, .GlobalStyle-html, .GlobalStyle-body, .gUYXmi, .lojvzz, .kSDoUH, .eIIRBY, .bdYOnS, .chsNKn, .dkOMUO, .cOwbKL, .haPmYN, .eYKuRL, .Nwryl {background: #191919!important;}
.gZAJll, .fFWrre, .eqtiIV, .RdzIK, footer, .gCIUcU, .neuxE::before {background: #202020!important;}
.cRvcMw {background: #101010 !important;}
.azNIl, .jWVbTs, .iNPFbI, .cHNNHl {background-color: #191919 !important;}
.neuxE {border-bottom: #191919 !important;}
.hqwwqo, .fmsxeI {background-color: #191919!important; border: 0.118em solid #303030!important; box-shadow: 0 0 0!important;}
.ioLhrE {background-color: #e0a500 !important;}
.dPtiMX, .eYaMuq, .kfvTTa, .eqCOeE {background-color: #202020 !important;}
.epgQHW {background-color: rgba(78, 80, 95, 0.15) !important;}
.WcQhB {background-color: #101010 !important;}
.XUYyp, .kdJtqe, .gaJXbo, .OWBJv, .eEnCHa {background: #303030!important;}
.excRYK, .fHNSVG, .fuPdzB, .bKYQMh {background-color: #303030!important;}
.blwpwv, .frcSIa {border: 3px solid #191919 !important; background-color: #191919!important; box-shadow: 0 0 3px #191919!important;}
